
        body{
          padding: 0;
          margin: 0;     
           }
        .img-select{
            cursor: pointer;
            width: 100px;
            height: 100px;
        }

        .remove{
          cursor: pointer;
          position: absolute;
          right: 10px;
        }
        .card {
          /* background-color: #e9ecef;; */
          display:inline-block;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40%;
            margin-left:6.66666666667%;
            margin-top: 30px;
            white-space: nowrap; 
     
            overflow: hidden;
            text-overflow: clip; 
          }
          .img-name-{
            width: 90%;
            margin-right:5px; ;
            font-size: 15px;;
          }
          .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          }
          
          .container {
           
            padding: 2px 16px;
          }


        .info{
          display:none;
        }
  

        .rrrrrr {
            padding-top: 10px;

        }
        #multiupload{display: none;}
        .close{
             cursor: pointer;
             position: absolute;
             margin-left: -30px;
             width:30px;
             height: 30px;
             text-align: center;
             background-color: darkred;
             color: white;
             font-size: 10;
        }
      
      .loading{
          overflow: hidden;
        background-color: rgba(0,0,0,0.9);
          width: 100%;
          height: 100%;
          z-index: 999 !important;
          position: absolute;
          text-align: center;
          padding-top: 100px;
          
          display: none; 
      }
        .initializer
        {
            /* margin-right: 150px; */
            color: white;
            font-weight: bolder;
            font-size: 50px;
        }
      #super-container{
          /* overflow: auto; */
        /* display: none;  */
      }

        .CARD {
            display: inline-block;
            width: 300px;
            height: 250px;
            margin: 5px;
        }

        .percent {
            font-size: 20px;
            position: absolute;
            margin-top: 199px;
            width: 19%;

        }

        .img_container {
            display: none;
            border: solid 2px;
            margin-top: 50px;
            width: 100%;

            min-height: 100%;
        }

        .image {
            width: 100%;
            height: 200px;

        }

        #loaderDiv {

            background-color: #d1ecf1;
            height: 45px;
            width: 100%;
            z-index: 999;
            display: none;


        }

        .progress {
            margin-top: 2px;

            width: 40%;
        }

        #uploader {
            margin-top: -10px;


        }

        .lds-hourglass {
            display: inline-block;
            position: relative;
            width: 500px;
            height: 500px;
          }
          .lds-hourglass:after {
            background-color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            width: 0;
            height: 0;
            box-sizing: border-box;
            border: 250px solid #fff;
            border-color: #031e49  transparent #031e49  transparent;
            animation: lds-hourglass 1.2s infinite;
          }
          @keyframes lds-hourglass {
            0% {
              transform: rotate(0);
              animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
            50% {
              transform: rotate(900deg);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            100% {
              transform: rotate(1800deg);
            }
          }
          